@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	/* Force list styles inside Tiptap editor */

	*::-webkit-scrollbar{
		display:none;
	}
.tiptap ul {
	list-style-type: disc;
	padding-left: 1.5rem;
  }
  
  .tiptap ol {
	list-style-type: decimal;
	padding-left: 1.5rem;
  }
  
  .tiptap li {
	margin-bottom: 0.25rem;
  }

  @keyframes slideInFromRight {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0%);
	}
  }
  
  .animate-slide-in {
	animation: slideInFromRight 0.3s ease-out forwards;
  }
  
  
}
:root {
	--primary-color: 248, 249, 255;
	--secondary-color: 12, 12, 12;
	--accent-color: 162, 148, 249;
	/* buttons */
	--button-background: 162, 148, 249;
	font-family: "Poppins", sans-serif;
}

.dark {
	--primary-color: 12, 12, 12;
	--secondary-color: 248, 249, 255;
	--accent-color: 162, 148, 249;

	/* buttons */
	--button-background: 162, 148, 249;
	/* borders */
	--border-color: 39, 39, 42;
}

@theme {
	--color-primary: rgb(var(--primary-color));
	--color-secondary: rgb(var(--secondary-color));
	--color-accent: rgb(var(--accent-color));
	--color-button: rgb(var(--button-background));
	--color-border: rgb(var(--border-color));
}
